@use '../../../../../styles/mixins' as *;
@use '../../../../../styles/variables' as *;

.sidebar-workspaces {
	display: flex;
	flex-direction: column;
	font-size: 1.1rem;
	position: relative;

	&__container {
		padding: 10px 20px;
		background-color: var(--sidebar-workspaces-bg);
		border: 1px solid var(--sidebar-workspaces-border-color);
		border-radius: 8px;
		cursor: pointer;
		display: flex;
		align-items: center;
		gap: 10px;
		justify-content: space-between;
		width: 100%;

		&:hover {
			background-color: var(--sidebar-workspaces-hover-bg);
			border-color: var(--sidebar-workspaces-border-hover-color);
		}
	}

	&__dropdown {
		position: absolute;
		background-color: var(--sidebar-workspaces-bg);
		border: 1px solid var(--sidebar-workspaces-border-color);
		border-radius: 8px;
		padding: 10px 15px;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 1500;
		display: flex;
		flex-direction: column;
		gap: 20px;
		opacity: 0;
		transform: translateY(70px);
		transition:
			height 0.3s ease,
			opacity 0.3s ease;

		&--open {
			opacity: 1;
			// transform: translateY(70px);

			transition:
				opacity 0.3s ease,
				transform 0.3s ease,
				top 0s linear 0s,
				left 0s linear 0s;
		}

		&-section {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}

		&-item {
			cursor: pointer;
			border-radius: 4px;
			padding: 10px 5px;

			&:hover {
				background-color: var(--sidebar-workspaces-hover-bg);
			}
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 5px;
		flex: 1;
		overflow: hidden;
	}

	&__name {
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 100%;

		&--animating {
			.sidebar-workspaces:hover & {
				overflow: visible;
				width: max-content;
				text-overflow: clip;
				animation: marquee linear infinite alternate;
				animation-duration: 4s;
			}
		}
	}

	&__description {
		font-size: 0.9rem;
		color: var(--sidebar-workspaces-description-color);
	}
}

@keyframes marquee {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(var(--offset));
	}
}
