@use '../../../../styles/mixins' as *;

.links-table {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.clicks-cell {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 5px;
	width: 100%;
}

.pagination-footer {
	display: flex;
	justify-content: center;
	align-items: center;
}
