@use '../../../styles/mixins' as *;

.header-auth {
	width: 100vw;
	width: 100dvw;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 30px;

	@include respond-to(md) {
		padding-top: 60px;
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__logo {
		font-size: 32px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 6px;
	}
}
