NODE_ENV=development

PORT=5000

ALLOWED_ORIGIN=http://localhost:3000

POSTGRES_USER=root
POSTGRES_PASSWORD=1234567890
POSTGRES_DB=url_shorter_local
POSTGRES_PORT=5433
POSTGRES_URI="postgres://root:1234567890@localhost:5433/url_shorter_local"

COOKIE_SECRET=cookie_secret
COOKIE_DOMAIN=localhost
COOKIE_HTTP_ONLY=true
COOKIE_SECURE=true
COOKIE_SAME_SITE=lax

ACCESS_TOKEN_SECRET=access_token_secret

ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=30d

GOOGLE_CLIENT_ID=google_client_id
GOOGLE_CLIENT_SECRET=google_client_secret
GOOGLE_CALLBACK_URL=http://localhost:5000/v1/oauth/google/callback

MAIL_HOST=mail_host
MAIL_USER=mail_user
MAIL_PASSWORD=mail_password
MAIL_PORT=mail_port
MAIL_FROM_NAME=mail_from_name
MAIL_FROM_ADDRESS=mail_from_address
MAIL_DOMAIN=http://localhost:5000
MAIL_LINK_BASE=/verify-email?token=

ADMIN_DOCS_USER=admin
ADMIN_DOCS_PASSWORD=password
