@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.sidebar {
	background-color: var(--sidebar-bg);
	border: none;
	border-right: 1px solid var(--sidebar-border-color);
	height: 100vh;
	height: 100dvh;
	padding-bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	top: 0;
	z-index: 1400;
	position: fixed;
	left: 0;
	width: 100%;
	transform: translateX(-100%);
	transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	max-width: 100vw;

	&__overlay {
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		height: 100dvh;
		background-color: rgba(0, 0, 0, 0.5);
		width: 100vw;
		z-index: 1300;
		pointer-events: none;
		transition: opacity 0.3s ease;
		opacity: 0;

		&.sidebar__overlay--active {
			opacity: 1;
			pointer-events: auto;
		}

		@include respond-to(xl) {
			width: 0;
			height: 0;
			z-index: -1000;
		}
	}

	&__toggle-container {
		position: absolute;
		top: 0;
		left: 0;
		width: $header-height;
		height: $header-height;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1500;
		transform: translateX(0);
		transition:
			transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
			left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	}

	&__toggle {
		position: fixed;

		&-icon {
			transition: transform 0.3s ease;
			transform: rotate(0deg);

			&.sidebar__toggle-icon--expanded {
				transform: rotate(180deg);
			}
		}
	}

	&--active {
		transform: translateX(0);

		& ~ .sidebar__toggle-container {
			transform: translateX(calc(100vw - #{$header-height}));

			@include respond-to(sm) {
				transform: translateX(calc(#{$sidebar-width} - #{$header-height}));
			}
		}
	}

	@include respond-to(sm) {
		max-width: $sidebar-width;

		&__toggle-container {
			transition:
				transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
				left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
		}
	}

	@include respond-to(xl) {
		position: sticky;
		transform: translateX(0);
		width: 0;
		min-width: 0;
		overflow: hidden;
		border-right: 0 solid transparent;
		transition:
			width 0.3s cubic-bezier(0.4, 0, 0.2, 1),
			min-width 0.3s cubic-bezier(0.4, 0, 0.2, 1),
			border-color 0.3s ease;

		&--active {
			width: $sidebar-width;
			min-width: $sidebar-width;
			border-right: 1px solid var(--sidebar-border-color);
		}
	}

	&__content {
		flex: 1;
	}

	&__container {
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 0 10px;
		flex: 1;
	}

	&__logo-container {
		display: flex;
		justify-content: start;
		height: $header-height;
		padding-left: 10px;
	}

	&__logo {
		display: flex;
		width: fit-content;
		align-items: center;
		gap: 10px;
		font-size: 1.2rem;
		font-weight: 600;
	}

	&__nav {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&__footer {
		display: flex;
		flex-direction: column;
		gap: 10px;

		&-user {
			display: flex;
			align-items: center;
			gap: 10px;
			border-top: 1px solid var(--sidebar-border-color);
		}
	}
}
