.link-cell {
	&__content {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 8px;
	}

	&__text {
		display: flex;
		flex-direction: column;
	}

	&__link,
	&__site-name {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	&__site-name {
		font-size: 12px;
	}
}
