.table-container {
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	border: 1px solid var(--table-border-color);
	border-radius: 8px;

	&::-webkit-scrollbar {
		width: 6px;
		height: 6px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--scrollbar-thumb-bg);
		border-radius: 8px;
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: var(--scrollbar-thumb-hover-bg);
	}
}

.table {
	border-collapse: separate;
	border-spacing: 0;
	width: 100%;
	// table-layout: fixed;

	& th,
	& td {
		padding: 10px 20px;
		border-bottom: 1px solid var(--table-border-color);
		white-space: nowrap;
	}

	& tr:last-child {
		th,
		td {
			border-bottom: none;
		}
	}

	& tfoot {
		& tr {
			background-color: var(--table-header-bg);

			& td {
				border-top: 1px solid var(--table-border-color);
			}
		}
	}
}
