.button__inner {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	.button__content {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.5rem;
		white-space: nowrap;
		opacity: 1;
		width: 100%;
	}

	&--loading {
		.button__content {
			opacity: 0;
		}
	}

	.button__loader {
		position: absolute;
		top: 0;
	}
}
