html.dark {
	--background: #121212;
	--foreground: #e0e0e0;
	--secondary-foreground: #a5a5a5;
	--border-radius: 8px;
	--divider: #333;

	/* Header */
	--header-bg: #181818;
	--header-border-color: #333;

	/* Logo */
	--logo-color: #e0e0e0;

	/* Auth */
	--auth-bg: #1e1e1e;
	--divider-color: #333;
	--diver-text-color: #e0e0e0;

	/* Tooltip */
	--tooltip-bg: #333;
	--tooltip-color: #e0e0e0;
	--tooltip-border: #4b4b4b;

	/* Loader */
	--loader-color: #e0e0e0;
	--inverse-loader-color: #1e1e1e;

	/* Input */
	--input-border-color: #333;
	--input-bg-color: #101010;
	--input-focus-border-color: #a8a8a8;
	--input-error-border-color: #ff4d4d;
	--input-error-text-color: #ff4d4d;

	/* Button */
	--btn-bg-primary: #e0e0e0;
	--btn-color-primary: #1e1e1e;
	--btn-bg-primary-hover: #c0c0c0;

	--btn-bg-secondary: #1e1e1e;
	--btn-color-secondary: #e0e0e0;
	--btn-bg-secondary-hover: #2c2c2c;

	--btn-border-outline: #4b4b4b;
	--btn-bg-outline-hover: #2c2c2c;
	--btn-border-outline-hover: #616161;

	--btn-color-ghost: #e0e0e0;
	--btn-bg-ghost-hover: #242424;

	--btn-color-link: #e0e0e0;

	/* Sidebar */
	--sidebar-bg: #181818;
	--sidebar-border-color: #333;
	--sidebar-color: #e0e0e0;
	--sidebar-workspaces-bg: #1e1e1e;
	--sidebar-workspaces-hover-bg: #242424;
	--sidebar-workspaces-border-color: #333;
	--sidebar-workspaces-border-hover-color: #4b4b4b;
	--sidebar-workspaces-description-color: #a5a5a5;
	--sidebar-link-hover-bg: #242424;
	--sidebar-link-active-bg: #242424;

	/* Modal */
	--modal-bg: #272727;

	/* Dropdown */
	--dropdown-bg: #1e1e1e;
	--dropdown-border-color: #333;
	--dropdown-color: #e0e0e0;
	--dropdown-hover-bg: #323232;
	--dropdown-hover-border-color: #4b4b4b;
	--dropdown-label-color: #a5a5a5;
	--dropdown-divider-color: #525252;

	/* Skeleton */
	--skeleton-color: #202020;
	--skeleton-highlight-color: #444;

	/* Table */
	--table-header-bg: #202020;
	--table-body-bg: red;
	--table-footer-bg: green;
	--table-border-color: #333;

	/* Switchbox */
	--switchbox-bg: #333;
	--switchbox-bg-slider: #e0e0e0;
	--switchbox-active-bg: #e0e0e0;
	--switchbox-active-bg-slider: #333;

	/* Form Actions */
	--form-action-bg: #202020;
	--form-action-border: #333;
	--form-action-box-shadow: rgba(68, 68, 68, 0.2);
}
