@use '../../../../../../../styles/mixins' as *;

.content {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	gap: 16px;
}

.item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 8px;

	@include respond-to(sm) {
		flex-direction: row;
	}
}

.label {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	gap: 8px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
